/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  /* Container principal */
  main {
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 850px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
   
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: black;
  }
  
  /* Formulário */
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  fieldset {
    border: none;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  
  label {
    font-weight: 600;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: #488D6A;
    outline: none;
    box-shadow: 0 0 0 2px rgba(72, 141, 106, 0.2);
  }
  
  textarea {
    resize: none;
  }
  
  /* Grid para campos de endereço */
  .endereco-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
  }
  
  /* Botões */
  .acoes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  button {
    padding: 0.9rem 1.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
    width: 500px;
  }
  
  button:hover {
    transform: translateY(-2px);
  }
  
  .salvar {
    background: rgb(149, 14, 190);
    color: white;
  }
  
  .salvar:hover {
    background: rgb(158, 122, 156);
  }
  
  
  /* Responsividade */
  @media (max-width: 600px) {
    main {
      padding: 1.5rem;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    button {
      flex: 1;
    }
  
    .acoes {
      flex-direction: column;
    }
  .input, textarea, select {
    width: auto;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  }


  